body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#4f46e5,#7c3aed);
    margin:0;
    padding:20px;
}

.container{
    max-width:900px;
    margin:auto;
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
    color:#4f46e5;
}

p{
    text-align:center;
}

input{
    width:80%;
    padding:12px;
    border:2px solid #4f46e5;
    border-radius:10px;
    display:block;
    margin:auto;
    font-size:16px;
}

button{
    display:block;
    margin:15px auto;
    padding:12px 25px;
    border:none;
    background:#4f46e5;
    color:white;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#3730a3;
}

.card{
    background:#f8fafc;
    margin-top:20px;
    padding:20px;
    border-radius:15px;
}

.card h2{
    text-align:center;
    color:#4f46e5;
}

#hasil{
    font-size:22px;
    font-weight:bold;
    text-align:center;
    color:#16a34a;
}

#langkah{
    line-height:2;
    font-size:17px;
}

/* Visualisasi Pohon */

#treeContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
}

.tree-level{
    display:flex;
    justify-content:center;
    gap:50px;
}

.tree-node{
    width:70px;
    height:70px;
    border-radius:50%;
    background:#4f46e5;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    box-shadow:0 4px 10px rgba(0,0,0,.2);
}